body{
	font-family: Tahoma;
	background-color: #FAF9DE;
}

#div_Navigation{
	background-color: black;
	/* border: 1px solid #cccccc; */
	margin: 10px auto;
	width:  850px;
	height: 30px;
	text-align:center;
}

div #div_Navigation a{
	margin-top: 4px;
	color: white;
	padding-left: 50px;
	font-size: 20px;
	text-decoration:none;
	//font-family:Cursive;
}

#div1{
	 /* border: 1px solid #cccccc;  */
	width: 900px;
	height: 800px;
	margin: 0px auto;
}

#div2{
	/* border: 1px solid red;  */
	width: 600px;
	height: 36px;
	margin: 10px auto;
	color: green;
	//font-family:Cursive;
	font-size: 30px;
	text-align: center;
}

#div3{
	/* border: 1px solid red;  */
	width: 700px;
	height: 450px;
	margin: 50px auto;
	padding: 50px 50px;
	color: grad;
	//font-family:Cursive;
	font-size: 30px;
	text-align: left;
	/* background-color: #eadbe2; */
}

ul{
	text-align:center;
}

ul li{
	list-style-type:square
}

#div_userShow{width: 200px; height: 40px; position: relative; left: 800px; top: -80px}
#img_user{width: 27px; height: 29px; position: relative; top: 10px;}
#footer{position: relative; width: 500px;  height: 40px;margin:100px auto;  color: green; float: left; left: 200px;}



