body{
	font-family: Tahoma;
	background-color: #FAF9DE;
}


#div_Navigation{
	background-color: black;
	margin: 10px auto;
	width:  850px;
	height: 30px;
	text-align: center;
}


div #div_Navigation a{
	margin-top: 4px;
	color: white;
	padding-left: 50px;
	font-size: 20px;
	text-decoration:none;
	//font-family:Cursive;
}

#div_head{
	color: green;
	margin: 1px auto;
	text-align: center;
	font-size:30px;
	//font-family:Cursive;
}

#div1 {
	margin: 0px auto;
	width:  900px;
	height: 900px;
}

#user_info{border: 1px solid #cccccc; width: 700px; height: 700px; margin: 10px auto;}

#ul_form{list-style-type:none; margin: 20px 150px; width: 600px; height: 500px;}
#ul_form li{margin-left: 50px;}

li a{
	color: red;
	font-size: 15px;
	margin-left: 5px;
}
#div_userShow{width: 200px; height: 40px; position: relative; left: 800px; top: -80px}
#img_user{width: 27px; height: 29px; position: relative; top: 10px;}
#footer{position: relative; width: 500px;  height: 40px;margin:50px auto;  color: green; float: left; left: 200px;}